<div class="row">
    <div class="col-md-12 col-md-offset-4">
        <div id="Electronics">
            <img name="Electronics" class="img-circle" src="~/Images/Electronics.jpg" width="200" height="200" /><br />
            <label>Electronics World</label>
        </div>
    </div>
</div>

