<div>
    Name:<input type="text" id="txtName" />
    Password:<input type="password" id="txtPass" />
    <input type="button" onclick="btnSubmit(this.id)" id="btnsubmit" value="Submit" />
</div>

<div>
    <a href="#" onclick="clickImg()">
        <img id="img" src="~/Images/Cyclemobile.jpg" />
    </a>
</div>
